      .bi.bi-instagram {
        font-size: 36px; /* Adjust the size as needed */
        color: black;
      }

      .link-container {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
      }

      .align-logo{
        margin-right: 10px;
        margin-left: 5px;
      }

      .hidden-brand {
        display: block;
      }
      
      .navbar.expanded .hidden-brand {
        display: none;
      }
      
      .nav {
        padding-left: 8px;
      }

      .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
      }

      .navbar-light .navbar-toggler {
        border: none;
      }

      .navbar-light .navbar-nav .nav-link {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: calc(10px + 1vw);
        color: black;
        text-decoration: none;
        background-color: rgb(252, 91, 172);
        padding: 10px;
        margin-right: 10px;
      }

      .dropdown-menu {
        background-color: rgb(252, 91, 172);
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
      }
      
      
      .dropdown-item {
        color: black;
      }
      
      .dropdown-item:hover {
        background-color: yellow;
      }

      .sizerLogo {
        width: calc(30px + 2vw);
        height: calc(30px + 2vw);
      }

      .sizerLogo:hover{
        content: url('https://cdn.glitch.global/05a6afd2-01ef-4ef8-835f-d29a66e7e52b/logo_hover.png?v=1681902817934');
        width: calc(30px + 2vw);
        height: calc(30px + 2vw);
      }

      .aboutLogo{
        margin-top: 10vw;
        margin-bottom: 10vw;
        width: 15vw;
        height: 15vw;
        align-self: center;
        animation: rotate 5s infinite cubic-bezier(0.7, 0.2, 0.3, 0.8);
      }

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      .contact-us {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: calc(10px + 1vw);
        color: black;
        text-decoration: none;
        background-color: rgb(252, 91, 172);
        padding: 10px;
        margin-right: 10px;
      }

      .navbar-light .navbar-nav .nav-link:hover,
      .navbar-light .navbar-nav .nav-link:active {
        transform: scale(0.9);
        background-color: yellow;
      }

      .carousel-item img {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
      }

      @media (max-width: 767px) {
        .carousel-item img {
          object-fit: cover;
          width: 100vw;
          height: 100vh;
        }
      }

      .logo {
        max-width: calc(50px + 2vw);
        position: absolute;
        z-index: 3;
        transition: all 0.2s ease-in-out;
        margin: 3px;
      }
      
      .logo:hover {
        content: url('https://cdn.glitch.global/05a6afd2-01ef-4ef8-835f-d29a66e7e52b/logo_hover.png?v=1681902817934');
        max-width: calc(50px + 2vw);
      }

      .hide-navbar {
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
      }

      .navbar.expanded {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #405FFF;
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s, visibility 0.5s;
      }

      body.no-scroll {
        overflow: hidden;
      }
    
      .navbar.expanded .navbar-collapse {
        margin-top: -100px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .navbar.expanded .my-navbar-nav {
        flex-direction: column;
        align-items: center;
        margin-top: inherit;
      }
    
      .navbar.expanded .nav-item {
        margin: 1rem 0;
      }
    
      .navbar.expanded .nav-brand {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0rem;
      }
      

      .WorkWithUsButton {
        right: 0px;
        bottom: 0px;
        max-width: calc(67px + 1vw);
        position: absolute;
        z-index: 4;
        transition: all 0.2s ease-in-out;
        margin: 5px;
      }
      
      .WorkWithUsButton:hover {
        content: url('https://cdn.glitch.global/05a6afd2-01ef-4ef8-835f-d29a66e7e52b/WorkWithUs_Button-01.png?v=1691667179140');
        max-width: calc(70px + 1vw);
      }

      .container {
        padding-top: 100px ;
        padding-bottom: 100px ;
        margin: 0%;
      }


      .container2 {
        padding-top: 50px ;
        padding-bottom: 50px ;
        margin: 0%;
      }

      .separadores-portfolio {
        text-transform: capitalize;
        padding-top: 20px ;
        padding-bottom: 30px ;
        margin: 0%;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        font-size: calc(5px + 1vw);
        color: black;
      }

      .txt-index h1{
        text-transform: capitalize;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: calc(40px + 1vw);
        color: black;
      }

      .txt-index p{
        text-transform: capitalize;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        font-size: calc(20px + 1vw);
        color: black;
      }

      .about-text{
        padding-top: 120px;
        padding-bottom: 30px;
        padding-left: 20vw;
        padding-right: 20vw;
      }

      .about-text h3{
        padding-top: 20px ;
        padding-bottom: 25px ;
        margin: 0%;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: calc(9px + 1vw);
        color: black;
        text-decoration: underline;
      }

      .about-text h4{
        padding-top: 5px ;
        padding-bottom: 5px ;
        margin: 0%;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: calc(5px + 1vw);
        color: black;
      }

      .separadores-portfolio h2{
        padding-top: 10px ;
        padding-bottom: 10px ;
        padding-left: 5vw;
        margin: 0%;
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        font-size: calc(5px + 1vw);
        color: black;
      }

      .separadores-portfolio h1{
        padding-top: initial;
        padding-right: 0;
        padding-bottom: 10px ;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 4vw;
        color: black;
      }

      

      .footer_st{
        padding-top: 1vw;
        padding-bottom: 2vw;
      }
      
      .align-footerL{
        text-align: left;
      }

      .align-footerR{
        text-align: right;
      }

      .align-footerC{
        text-align: center;
      }

      .footer_st h1{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: calc(10px + 1vw);
        color: black;
      }

      .footer_st h2{
        font-family: 'Raleway', sans-serif;
        font-weight: 200;
        font-size: calc(10px + 1vw);
        color: black;
      }
      
      .location_date{
        align-self:flex-start;
      }
      
      .row {
        display: flex;
        align-items: center;
      }

      .navbar-toggler-icon {
        display: none;
      }

      select {
        -webkit-appearance: none; /* for Chrome, Safari and Opera */
        -moz-appearance: none; /* for Firefox */
        appearance: none; /* for IE and Edge */
        /* add other styles as needed */
      }

      @media (max-width: 767px) {
        .separadores-portfolio h2{
          padding-left: 0;
        }

        .row {
          display: flex;
          align-items: center;
          text-align: center;
        }
        .text_mobile {
          padding-top: 50px;
        }
        .txt-mobile {
          order: 2;
          padding-top: 50px;
        }
        .img-mobile {
          order: 1;
        }
        .align-footerL{
          padding-top: 20px;
          text-align: center;
        }
        .align-footerR{
          text-align: center;
        }
      }

      img {
        border-left: none;
        max-width: 100%;
      }      


/*
      .circle-button {
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: calc(8px + 1vw);
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        line-height: 25px;
        border-radius: 50px;
        background-color: rgb(252, 91, 172);
        color: black;
        text-align: center;
  }
*/